@font-face {
    font-family: 'Calibre Light';
    src: url('../../public/fonts/CalibreLight.otf') format('woff2');
}

@font-face {
    font-family: 'Calibre Regular';
    src: url('../../public/fonts/CalibreRegular.otf') format('woff2');
}

@font-face {
    font-family: 'Calibre Medium';
    src: url('../../public/fonts/CalibreMedium.otf') format('woff2');
}