* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, p, a, ul, li, span {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: $font-primary;
  background: $color-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 100vh;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
}

h1 {
  text-transform: uppercase;
  margin-bottom: 2rem;
  position: relative;
  z-index: 1;
}

a {
  color: inherit;
  text-decoration: none;
}
