$font-primary: 'Calibre Regular';
$font-primary-light: 'Calibre Light';
$font-primary-medium: 'Calibre Medium';

$color-white: white;
$color-black: black;

$color-primary: #65DBD8;
$color-primary-light: #92F1EA;
$color-secondary: #193342;
$color-secondary-dark: #002235;
$color-purple: #CC27F9;
$color-purple-dark: #6C2FDF;
$color-red: #E42D58;
$color-yellow: #FCE700;